# ===============================================================
# General Project Configuration
# ===============================================================

# Application Config
# It is recommended to commit the main application.yml.
# Ignore environment-specific or secret files instead.
#
/src/main/resources/application.yml
/src/main/resources/application.properties
/src/main/resources/secrets.properties

# Log files
*.log

# Java heap dump
*.hprof


# ===============================================================
# Build Tools (Maven & Gradle)
# ===============================================================

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle
build/
.gradletasknamecache

# Avoid ignoring Gradle wrapper jar file
!gradle-wrapper.jar
!gradle-wrapper.properties

# ===============================================================
# Generated Sources (e.g., QueryDSL Q-Types)
# ===============================================================
/src/main/generated

===============================================================

# ===============================================================
# IDE Files (IntelliJ & Eclipse)
# ===============================================================

### IntelliJ ###
.idea/
out/
*.iml
*.iws

### Eclipse ###
.metadata
.settings
.classpath
.project
.springBeans
.recommenders
.sts4-cache/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib


# ===============================================================
# Language & Runtime (Java)
# ===============================================================

# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*
replay_pid*


# ===============================================================
# Operating System Files (macOS & Windows)
# ===============================================================

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
*.icloud

### Windows ###
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
